<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta harset="utf-8">
        <title>Isra ReadBot!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oooh+Baby&family=Splash&display=swap" rel="stylesheet">
    </head>

    <body>
        <div id="app">
        <header>
            <h1>Welcome to my ReadBot!</h1>
            <div id="navDiv">
                <ul>
                    <li><a href="#main">Home</a></li>
                    <li><a href="https://learn.meaningcloud.com/developer/sentiment-analysis/2.1/dev-tools" target="_blank">MeaningCloud</a></li>
                    <li><a href="#page__footer">Contact us!</a></li>
                </ul>
            </div>
        </header>
        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="urlInput" type="text" name="input" value="" placeholder="Enter URL for news Article">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>
            <section>
                <strong><h3>ReadBot Results: </h3></strong>
                <div id="results">
                    <p id="polarity"></p>
                    <p id="agreement"></p>
                    <p id="subjectivity"></p>
                    <p id="confidence"></p>
                    <p id="irony"></p>
                </div>
            </section>
        </main>
        <footer id="page__footer">
            <p>&copy; 2022 by Isra Bazzar</p>
        </footer>
        </div>
        <script>

        // Add setup for service worker
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('service-worker.js');
            });
        }
    </script>
    </body>
</html>